html {
  --primary: #ad1457;
  --primary-light: #da1b6d;

  --purple: #ad1457;
  --green: #14ad6a;
  --blue: #314c75;
  --yellow: #ffa33d;

  --header-color: white;
  --header-bg: var(--primary);
  --header-font-family: "Poppins";
  --main-bg: #f3f3f3;

  --card-bg: #fff;

  --box-shadow-color: rgb(173, 20, 87, 0.5);
}

html.green {
  --primary: var(--green);
  --primary-light: #0f8b56;
  --box-shadow-color: rgb(15, 139, 86, 0.5);
}

html.blue {
  --primary: var(--blue);
  --primary-light: #4a70a8;
  --box-shadow-color: rgb(49, 76, 117, 0.5);
}

html.yellow {
  --primary: #fa8b0c;
  --primary-light: var(--yellow);
  --box-shadow-color: rgb(255, 163, 61, 0.5);
}

::selection {
  background: var(--primary);
  color: white;
}

.theme-picker {
  display: flex;
  flex-wrap: wrap;
  max-width: 20rem;
  margin: 0 auto;
  justify-content: center;
}

.theme-picker span {
  cursor: pointer;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 3px;
  border: 4px solid transparent;
  transition: 0.4s ease-out;
}

.theme-picker span:hover {
  border: 4px solid rgb(0, 0, 0);
}

.theme-picker .magenta {
  background-color: var(--purple);
}

.theme-picker .green {
  background-color: var(--green);
}

.theme-picker .blue {
  background-color: var(--blue);
}

.theme-picker .yellow {
  background-color: var(--yellow);
}

@media (prefers-color-scheme: dark) {
  html {
    --main-bg: #1b1b1b;
    --card-bg: #000;
  }

  .abilities-head {
    color: rgb(185, 185, 185);
  }
}
